In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv(r'C:\Users\vostr\Desktop\car2\CarPrice_Assignment.csv')
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [11]:
df.shape

(205, 26)

In [13]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [25]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [30]:
df1 = df.drop(labels = ['car_ID','doornumber','enginelocation','drivewheel','fuelsystem','peakrpm','highwaympg','aspiration','carlength','carheight','carwidth','cylindernumber','curbweight'],axis = 1)
df1.head(20)

,symboling,CarName,fueltype,carbody,wheelbase,enginetype,enginesize,boreratio,stroke,compressionratio,horsepower,citympg,price
0,3,alfa-romero giulia,gas,convertible,88.6,dohc,130,3.47,2.68,9.0,111,21,13495.000
1,3,alfa-romero stelvio,gas,convertible,88.6,dohc,130,3.47,2.68,9.0,111,21,16500.000
2,1,alfa-romero Quadrifoglio,gas,hatchback,94.5,ohcv,152,2.68,3.47,9.0,154,19,16500.000
3,2,audi 100 ls,gas,sedan,99.8,ohc,109,3.19,3.40,10.0,102,24,13950.000
4,2,audi 100ls,gas,sedan,99.4,ohc,136,3.19,3.40,8.0,115,18,17450.000
5,2,audi fox,gas,sedan,99.8,ohc,136,3.19,3.40,8.5,110,19,15250.000
6,1,audi 100ls,gas,sedan,105.8,ohc,136,3.19,3.40,8.5,110,19,17710.000
7,1,audi 5000,gas,wagon,105.8,ohc,136,3.19,3.40,8.5,110,19,18920.000
8,1,audi 4000,gas,sedan,105.8,ohc,131,3.13,3.40,8.3,140,17,23875.000
9,0,audi 5000s (diesel),gas,hatchback,99.5,ohc,131,3.13,3.40,7.0,160,16,17859.167
10,2,bmw 320i,gas,sedan,101.2,ohc,108,3.50,2.80,8.8,101,23,16430.000
11,0,bmw 320i,gas,sedan,101.2,ohc,108,3.50,2.80,8.8,101,23,16925.000
12,0,bmw x1,gas,sedan,101.2,ohc,164,3.31,3.19,9.0,121,21,20970.000
13,0,bmw x3,gas,sedan,101.2,ohc,164,3.31,3.19,9.0,121,21,21105.000
14,1,bmw z4,gas,sedan,103.5,ohc,164,3.31,3.19,9.0,121,20,24565.000
15,0,bmw x4,gas,sedan,103.5,ohc,209,3.62,3.39,8.0,182,16,30760.000
16,0,bmw x5,gas,sedan,103.5,ohc,209,3.62,3.39,8.0,182,16,41315.000
17,0,bmw x3,gas,sedan,110.0,ohc,209,3.62,3.39,8.0,182,15,36880.000
18,2,chevrolet impala,gas,hatchback,88.4,l,61,2.91,3.03,9.5,48,47,5151.000
19,1,chevrolet monte carlo,gas,hatchback,94.5,ohc,90,3.03,3.11,9.6,70,38,6295.000

In [31]:
df1['enginetype'].unique()

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [39]:
df1['CarName'].unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [44]:
df1['CarName'] = df1['CarName'].str.split(' ').str.slice(0,4).str.join('')

In [45]:
df1.head()

,symboling,CarName,fueltype,carbody,wheelbase,enginetype,enginesize,boreratio,stroke,compressionratio,horsepower,citympg,price
0,3,alfa-romerogiulia,gas,convertible,88.6,dohc,130,3.47,2.68,9.0,111,21,13495.0
1,3,alfa-romerostelvio,gas,convertible,88.6,dohc,130,3.47,2.68,9.0,111,21,16500.0
2,1,alfa-romeroQuadrifoglio,gas,hatchback,94.5,ohcv,152,2.68,3.47,9.0,154,19,16500.0
3,2,audi100ls,gas,sedan,99.8,ohc,109,3.19,3.40,10.0,102,24,13950.0
4,2,audi100ls,gas,sedan,99.4,ohc,136,3.19,3.40,8.0,115,18,17450.0

In [51]:
categorical = df1.copy()
categorical.drop(columns = ['symboling','wheelbase','enginesize','boreratio','stroke','compressionratio','horsepower','citympg','price'])

                     CarName fueltype      carbody enginetype
0          alfa-romerogiulia      gas  convertible       dohc
1         alfa-romerostelvio      gas  convertible       dohc
2    alfa-romeroQuadrifoglio      gas    hatchback       ohcv
3                  audi100ls      gas        sedan        ohc
4                  audi100ls      gas        sedan        ohc
..                       ...      ...          ...        ...
200            volvo145e(sw)      gas        sedan        ohc
201               volvo144ea      gas        sedan        ohc
202               volvo244dl      gas        sedan       ohcv
203                 volvo246   diesel        sedan        ohc
204               volvo264gl      gas        sedan        ohc

[205 rows x 4 columns]

In [53]:
pd.get_dummies(categorical,drop_first = True).shape

(205, 165)

In [ ]:
X_train,X_test,y_train,y_test